In [1]:
%pip install pandas sqlalchemy psycopg2 python-dotenv transliterate

Requirement already satisfied: pandas in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (2.1.1)
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/2d/ca/1ad0106300c9cbd14e2b88bffe9f52f03ce2abe48f3b88747e520180014e/SQLAlchemy-2.0.23-cp310-cp310-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.23-cp310-cp310-win_amd64.whl.metadata (9.8 kB)
Collecting psycopg2
  Obtaining dependency information for psycopg2 from https://files.pythonhosted.org/packages/bc/bc/6572dec6834e779668421e25f8812a872d978e241f85491a5e4dda606a98/psycopg2-2.9.9-cp310-cp310-win_amd64.whl.metadata
  Downloading psycopg2-2.9.9-cp310-cp310-win_amd64.whl.metadata (4.5 kB)
Requirement already satisfied: numpy>=1.22.4 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.2.0 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from sqlalchemy) (4.8.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Obtaining dependency information for greenlet!=0.4.17 from https://files.pythonhosted.org/packages/02/72/36fb2c35547fdf473629579fc35d9a2034592ea3f01710702d81ef596e16/greenlet-3.0.1-cp310-cp310-win_amd64.whl.metadata
  Downloading greenlet-3.0.1-cp310-cp310-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: six>=1.5 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading SQLAlchemy-2.0.23-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 1.3 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.1 MB 3.5 MB/s eta 0:00:01
   ----------- ---------------------------- 0.6/2.1 MB 4.5 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.1 MB 5.2 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 5.3 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 5.5 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 5.5 MB/s eta 0:00:00
Downloading psycopg2-2.9.9-cp310-cp310-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB 8.3 MB/s eta 0:00:01
   --------------------- ------------------ 0.6/1.2 MB 7.6 MB/s eta 0:00:01
   --------------------------------- ------ 1.0/1.2 MB 6.8 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 6.1 MB/s eta 0:00:00
Downloading greenlet-3.0.1-cp310-cp310-win_amd64.whl (287 kB)
   ---------------------------------------- 0.0/287.9 kB ? eta -:--:--
   ---------------------------------------- 287.9/287.9 kB 6.0 MB/s eta 0:00:00
Installing collected packages: psycopg2, greenlet, sqlalchemy
Successfully installed greenlet-3.0.1 psycopg2-2.9.9 sqlalchemy-2.0.23

# 1. Подключение к БД

In [1]:
import pandas as pd
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine, MetaData, Table, Column,select, Integer, String, DECIMAL, CHAR, BIGINT, func, DATE
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy.sql import text

from dotenv import load_dotenv
import os
load_dotenv()

True

In [2]:
import sqlalchemy
sqlalchemy.__version__

'2.0.23'

In [2]:
USR = os.getenv('USR') # NEVER CALL an env variable "USERNAME"
PWD = os.getenv('PWD')
DB_HOST = os.getenv('DB_HOST')
PORT = os.getenv('PORT')
DB = os.getenv('DB')

DATABASE = {
    'drivername': 'postgresql',
    'username': USR,
    'password': PWD,
    'host': DB_HOST,
    'port': PORT,
    'database': DB, 
    'query': {}
}

# Создаем объект engine
engine = create_engine(URL.create(**DATABASE))

# Попытка проверить соединение с базой данных
try:
    # Подключаемся к базе данных
    with engine.connect() as conn:
        # Выполняем простой запрос с помощью функции text для приведения строки к SQL-выражению
        result = conn.execute(text("SELECT 1"))
        for _ in result:
            pass  # Перебираем результаты, если они есть
    print(f"Успешно подключились к базе данных: {DATABASE['database']} на {DATABASE['host']}")
except SQLAlchemyError as e:
    print(f"Ошибка при подключении к базе данных: {e}")

Успешно подключились к базе данных: geo_v2 на 77.222.36.33

## 1.1 Настройка базы данных на стороне разработчиков (не передатся заказчику)

In [3]:
engine

Engine(postgresql://Natalia:***@77.222.36.33:19679/geo_v2)

### `countryInfo`

In [92]:
column_names= ['ISO', 'ISO3', 'ISO-Numeric', 'fips', 'Country', 'Capital',
       'Area(in sq km)', 'Population', 'Continent', 'tld', 'CurrencyCode',
       'CurrencyName', 'Phone', 'Postal Code Format', 'Postal Code Regex',
       'Languages', 'geonameid', 'neighbours', 'EquivalentFipsCode']

data = pd.read_csv('../datasets/countryInfo.txt', skiprows=50, sep='\t', index_col=None, names=column_names, encoding='utf-8')
#data=data.rename(columns={"#ISO": "ISO"})
data.head()

,ISO,ISO3,ISO-Numeric,fips,Country,Capital,Area(in sq km),Population,Continent,tld,CurrencyCode,CurrencyName,Phone,Postal Code Format,Postal Code Regex,Languages,geonameid,neighbours,EquivalentFipsCode
0,AD,AND,20,AN,Andorra,Andorra la Vella,468.0,77006,EU,.ad,EUR,Euro,376,AD###,^(?:AD)*(\d{3})$,ca,3041565,"ES,FR",NaN
1,AE,ARE,784,AE,United Arab Emirates,Abu Dhabi,82880.0,9630959,AS,.ae,AED,Dirham,971,NaN,NaN,"ar-AE,fa,en,hi,ur",290557,"SA,OM",NaN
2,AF,AFG,4,AF,Afghanistan,Kabul,647500.0,37172386,AS,.af,AFN,Afghani,93,NaN,NaN,"fa-AF,ps,uz-AF,tk",1149361,"TM,CN,IR,TJ,PK,UZ",NaN
3,AG,ATG,28,AC,Antigua and Barbuda,St. John's,443.0,96286,NaN,.ag,XCD,Dollar,+1-268,NaN,NaN,en-AG,3576396,NaN,NaN
4,AI,AIA,660,AV,Anguilla,The Valley,102.0,13254,NaN,.ai,XCD,Dollar,+1-264,NaN,NaN,en-AI,3573511,NaN,NaN

In [ ]:
# Загрузка данных в базу данных
data.to_sql('countryInfo', con=engine, if_exists='append', index=False)

In [98]:
column_names= ['ISO', 'ISO3', 'ISO-Numeric', 'fips', 'Country', 'Capital',
       'Area(in sq km)', 'Population', 'Continent', 'tld', 'CurrencyCode',
       'CurrencyName', 'Phone', 'Postal Code Format', 'Postal Code Regex',
       'Languages', 'geonameid', 'neighbours', 'EquivalentFipsCode']

data = pd.read_csv('../datasets/countryInfo.txt', skiprows=49, sep='\t', index_col=None, encoding='utf-8', usecols=['#ISO', 'ISO3', 'Country', 'Capital', 'Population', 'Continent', 'Languages', 'geonameid'])
#data=data.rename(columns={"#ISO": "ISO"})
data.head()

,#ISO,ISO3,Country,Capital,Population,Continent,Languages,geonameid
0,AD,AND,Andorra,Andorra la Vella,77006,EU,ca,3041565
1,AE,ARE,United Arab Emirates,Abu Dhabi,9630959,AS,"ar-AE,fa,en,hi,ur",290557
2,AF,AFG,Afghanistan,Kabul,37172386,AS,"fa-AF,ps,uz-AF,tk",1149361
3,AG,ATG,Antigua and Barbuda,St. John's,96286,NaN,en-AG,3576396
4,AI,AIA,Anguilla,The Valley,13254,NaN,en-AI,3573511

In [99]:
# Загрузка данных в базу данных
data.to_sql('countryInfo2', con=engine, if_exists='append', index=False)

252

In [7]:
query = 'SELECT * FROM "countryInfo2" LIMIT 10'
pd.read_sql_query(query, con=engine)

,#ISO,ISO3,Country,Capital,Population,Continent,Languages,geonameid
0,AD,AND,Andorra,Andorra la Vella,77006,EU,ca,3041565
1,AE,ARE,United Arab Emirates,Abu Dhabi,9630959,AS,"ar-AE,fa,en,hi,ur",290557
2,AF,AFG,Afghanistan,Kabul,37172386,AS,"fa-AF,ps,uz-AF,tk",1149361
3,AG,ATG,Antigua and Barbuda,St. John's,96286,None,en-AG,3576396
4,AI,AIA,Anguilla,The Valley,13254,None,en-AI,3573511
5,AL,ALB,Albania,Tirana,2866376,EU,"sq,el",783754
6,AM,ARM,Armenia,Yerevan,2951776,AS,hy,174982
7,AO,AGO,Angola,Luanda,30809762,AF,pt-AO,3351879
8,AQ,ATA,Antarctica,None,0,AN,None,6697173
9,AR,ARG,Argentina,Buenos Aires,44494502,SA,"es-AR,en,it,de,fr,gn",3865483

In [119]:
metadata = MetaData()
cinfo = Table('countryInfo', metadata,
    Column('ISO', CHAR(2)),
    Column('ISO3', CHAR(3)),
    Column('ISO-Numeric', Integer),
    Column('fips', CHAR(2)),
    Column('Country', String(200)),
    Column('Capital', String(200)),    
    Column('Area(in sq km)', DECIMAL),
    Column('Population', BIGINT),
    Column('Continent', CHAR(2)),
    Column('tld', CHAR(3)),
    Column('CurrencyName', CHAR(3)),
    Column('Phone', String(30)),
    Column('Postal Code Format', String(30)),
    Column('Postal Code Regex', String(100)),
    Column('Languages', String(100)),
    Column('geonameid', Integer),
    Column('neighbours', String(200)),
    Column('EquivalentFipsCode', CHAR(2))
)

metadata.create_all(engine)

### `alternateNamesV2`

In [4]:
data = pd.read_csv('../datasets/alternateNamesV2.txt', sep='\t', index_col=None, header=None)
data.head()

C:\Users\krair\AppData\Local\Temp\ipykernel_1600\1219458091.py:1: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../datasets/alternateNamesV2.txt', sep='\t', index_col=None, header=None)

         0        1    2                     3   4   5   6   7    8    9
0  1284819  2994701  NaN              Roc Mélé NaN NaN NaN NaN  NaN  NaN
1  1284820  2994701  NaN             Roc Meler NaN NaN NaN NaN  NaN  NaN
2  4285256  3007683  NaN  Pic des Langounelles NaN NaN NaN NaN  NaN  NaN
3  1291197  3017832  NaN  Pic de les Abelletes NaN NaN NaN NaN  NaN  NaN
4  4290387  3017832  NaN  Pic de la Font-Nègre NaN NaN NaN NaN  NaN  NaN

In [8]:
data.loc[data[1]==2017370]

,0,1,2,3,4,5,6,7,8,9
12105224,993186,2017370,en,Russian Soviet Federated Socialist Republic,NaN,NaN,NaN,1.0,NaN,NaN
12105225,993187,2017370,NaN,Rossiyskaya Sovetskaya Federativnaya Sotsialis...,NaN,NaN,NaN,1.0,NaN,NaN
12105226,993188,2017370,en,Russian Soviet Federative Socialist Republic,NaN,NaN,NaN,1.0,NaN,NaN
12105227,993191,2017370,en,Russian Socialist Federative Soviet Republic,NaN,NaN,NaN,1.0,NaN,NaN
12105228,1556474,2017370,aa,Russia,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12105386,16930770,2017370,wo,Risi,1.0,NaN,NaN,NaN,NaN,NaN
12105387,16930771,2017370,yi,רוסלאַנד,1.0,NaN,NaN,NaN,NaN,NaN
12105388,16930772,2017370,zh,俄罗斯,1.0,NaN,NaN,NaN,NaN,NaN
12105389,17433252,2017370,ru,России,NaN,NaN,NaN,NaN,NaN,NaN
12105390,17433284,2017370,ru,Россией,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Названия колонок в соответствии с документацией 
data.columns = ['alternateNameId', 'geonameid', 'isolanguage', 'alternate name', 'isPreferredName', 'isShortName', 'isColloquial', 'isHistoric', 'from', 'to']

In [5]:
engine.connect().rollback()

metadata = MetaData()
geonames = Table('alternateNames', metadata,
    Column('alternateNameId', Integer),
    Column('geonameid', Integer),
    Column('isolanguage', CHAR(7)),
    Column('alternate name', String(400)),
    Column('isPreferredName', CHAR(1)),
    Column('isShortName', CHAR(1)),    
    Column('isColloquial', CHAR(1)),
    Column('isHistoric', CHAR(1)),
    Column('used_from', CHAR(20)), # should be more than enough
    Column('used_to', CHAR(20)),
)

metadata.create_all(engine)
#### data.to_sql('alternateNames', con=engine, if_exists='replace', index=False)

674

### `geonames`

In [41]:
# Названия столбцов в соответствии с предоставленной структурой
column_names = [
    'geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude',
    'feature_class', 'feature_code', 'country_code', 'cc2', 'admin1_code',
    'admin2_code', 'admin3_code', 'admin4_code', 'population', 'elevation',
    'dem', 'timezone', 'modification_date'
]

In [ ]:
geonames = Table('geonames', metadata,
    Column('geonameid', Integer),
    Column('name', String(200)),
    Column('asciiname', String(200)),
    Column('alternatenames', String(10000)),
    Column('latitude', DECIMAL),
    Column('longitude', DECIMAL),
    Column('feature_class', CHAR(1)),
    Column('feature_code', String(10)),
    Column('country_code', CHAR(2)),
    Column('cc2', String(200)),
    Column('admin1_code', String(20)),
    Column('admin2_code', String(80)),
    Column('admin3_code', String(20)),
    Column('admin4_code', String(20)),
    Column('population', BIGINT),
    Column('elevation', Integer),
    Column('dem', Integer),
    Column('timezone', String(40)),
    Column('modification_date', DATE)
)
metadata.create_all(engine)

In [83]:
# Чтение данных из TSV файла
data = pd.read_csv('../datasets/RS.txt', sep='\t', names=column_names, encoding='utf-8')

In [84]:
data.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature_class,feature_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modification_date
0,672867,Moravica,Moravica,"Maravita,Maraviţa,Moravica,Moravicza,Moravita,...",45.23333,21.25000,H,STM,RS,NaN,00,NaN,NaN,NaN,0,NaN,77,Europe/Belgrade,2014-11-05
1,675496,Iron Gates,Iron Gates,"Dealul Klisura,Derdap,Eisenernes Tor,Eisernes ...",44.67965,22.51537,T,GRGE,RS,RO,00,NaN,NaN,NaN,0,NaN,61,Europe/Belgrade,2019-03-01
2,682504,Kazan,Kazan,"Cazane,Cazane Defile,Kazan,Kazan Pass,Kazanske...",44.66667,22.30000,T,GRGE,RS,NaN,00,NaN,NaN,NaN,0,NaN,158,Europe/Belgrade,2014-11-05
3,682722,Râu Caraş,Rau Caras,"Caras,Caraş,Caraș,Karas,Karas River,Karaş,Kara...",44.81667,21.33333,H,STM,RS,RO,00,NaN,NaN,NaN,0,NaN,65,Europe/Belgrade,2021-02-16
4,684724,Kanal Brzava,Kanal Brzava,Kanal Brzava,45.27549,20.82796,H,CNL,RS,NaN,00,NaN,NaN,NaN,0,NaN,72,Europe/Belgrade,2012-07-04

In [85]:
# Загрузка данных в базу данных
data.to_sql('geonames', con=engine, if_exists='append', index=False)

498

In [87]:
# Определяем таблицу для запроса
geonames = Table('geonames', metadata, autoload_with=engine)

# Формируем и выполняем SQL-запрос
query = select(geonames).limit(10)  # Выбираем первые 10 строк
pd.read_sql_query(query, con=engine)

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature_class,feature_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modification_date
0,611070,Zarnadzeebi,Zarnadzeebi,"Zarnadzeebi,Zarnadzeyebi,zarnadzeebi,ზარნაძეები",42.24553,43.00999,P,PPL,GE,None,66.0,None,None,None,0,None,298,Asia/Tbilisi,2019-12-03
1,611071,Zaridzeebi,Zaridzeebi,"Khopsa,Khoptsa,Zaridzebi,Zaridzeebi,Zaridzeyeb...",42.13681,44.89250,P,PPL,GE,None,69.0,None,None,None,0,None,1192,Asia/Tbilisi,2019-12-03
2,611072,Zardlashi,Zardlashi,"Zardlashi,zardlashi,ზარდლაში",43.05331,42.78294,P,PPL,GE,None,71.0,None,None,None,0,None,1689,Asia/Tbilisi,2014-09-05
3,611073,Zardiantkari,Zardiantkari,Zardiantkari,42.23903,44.08764,P,PPL,GE,None,0.0,None,None,None,0,None,941,Asia/Tbilisi,2012-01-17
4,611074,Zarati,Zarati,"Zarat'i,Zarati,Zarat’i,zarati,ზარათი",42.35646,42.71972,P,PPL,GE,None,66.0,None,None,None,0,None,217,Asia/Tbilisi,2019-12-03
5,611075,Zarani,Zarani,"Zanani,Zarani,zarani,ზარანი",42.00527,43.23157,P,PPL,GE,None,66.0,None,None,None,0,None,478,Asia/Tbilisi,2019-12-03
6,611076,Zaragula,Zaragula,"Zaragula,zaragula,ზარაგულა",42.62592,42.71348,P,PPL,GE,None,70.0,None,None,None,0,None,756,Asia/Tbilisi,2015-02-06
7,611077,Dasavlet’is P’rone,Dasavlet'is P'rone,"Dasavlet'is P'rone,Dasavlet’is P’rone,Prone-Ok...",42.04583,43.84083,H,STM,GE,None,25.0,None,None,None,0,None,634,Asia/Tbilisi,2020-06-10
8,611078,Dasavleti Gumista,Dasavleti Gumista,"Dasavleti Gumista,Zapadnaya Gumista,dasavleti ...",43.08917,41.00333,H,STM,GE,None,2.0,None,None,None,0,None,83,Asia/Tbilisi,2017-12-07
9,611079,Zanduk’i,Zanduk'i,"Zanduk'i,Zanduki,Zanduk’i,ზანდუკი",42.42200,44.75069,P,PPL,GE,None,69.0,None,None,None,0,None,1302,Asia/Tbilisi,2020-06-10

In [90]:
query = "SELECT * FROM geonames WHERE country_code = 'TR' LIMIT 2  "
pd.read_sql_query(query, con=engine)

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature_class,feature_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modification_date
0,119762,Rūdkhāneh-ye Qarah Sū,Rudkhaneh-ye Qarah Su,"Kara Su,Qara Su,Qareh Su,Qareh Su-ye Sofla,Qar...",39.6882,44.7497,H,STM,TR,None,0.0,None,None,None,0,None,798,Europe/Istanbul,2020-06-10
1,145494,Armenian Highland,Armenian Highland,"Armenian Highland,Armenian Highlands,Armenian ...",40.0000,42.0000,T,UPLD,TR,None,0.0,None,None,None,0,None,1597,Europe/Istanbul,2016-03-23

In [76]:
# Формируем SQL-запрос для подсчёта количества записей
# from sqlalchemy import func

query = select(func.count()).select_from(geonames)

# Выполняем запрос и выводим результат
count = pd.read_sql_query(query, con=engine).values[0,0]
print("Количество записей в таблице 'geonames':", count)

Количество записей в таблице 'geonames': 534859

### `cities15000`

In [111]:
column_names = [
    'geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude',
    'feature_class', 'feature_code', 'country_code', 'cc2', 'admin1_code',
    'admin2_code', 'admin3_code', 'admin4_code', 'population', 'elevation',
    'dem', 'timezone', 'modification_date'
]

data = pd.read_csv('../datasets/cities15000.txt', sep='\t', names=column_names, encoding='utf-8')
data.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature_class,feature_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modification_date
0,3040051,les Escaldes,les Escaldes,"Ehskal'des-Ehndzhordani,Escaldes,Escaldes-Engo...",42.50729,1.53414,P,PPLA,AD,NaN,08,NaN,NaN,NaN,15853,NaN,1033,Europe/Andorra,2008-10-15
1,3041563,Andorra la Vella,Andorra la Vella,"ALV,Ando-la-Vyey,Andora,Andora la Vela,Andora ...",42.50779,1.52109,P,PPLC,AD,NaN,07,NaN,NaN,NaN,20430,NaN,1037,Europe/Andorra,2020-03-03
2,290594,Umm Al Quwain City,Umm Al Quwain City,"Oumm al Qaiwain,Oumm al Qaïwaïn,Um al Kawain,U...",25.56473,55.55517,P,PPLA,AE,NaN,07,NaN,NaN,NaN,62747,NaN,2,Asia/Dubai,2019-10-24
3,291074,Ras Al Khaimah City,Ras Al Khaimah City,"Julfa,Khaimah,RAK City,RKT,Ra's al Khaymah,Ra'...",25.78953,55.94320,P,PPLA,AE,NaN,05,NaN,NaN,NaN,351943,NaN,2,Asia/Dubai,2019-09-09
4,291580,Zayed City,Zayed City,"Bid' Zayed,Bid’ Zayed,Madinat Za'id,Madinat Za...",23.65416,53.70522,P,PPL,AE,NaN,01,103,NaN,NaN,63482,NaN,118,Asia/Dubai,2019-10-24

In [112]:
data.to_sql('cities15000', con=engine, if_exists='append', index=False)

127

In [7]:
metadata = MetaData()

cities = Table('cities15000', metadata,
    Column('geonameid', Integer),
    Column('name', String(200)),
    Column('asciiname', String(200)),
    Column('alternatenames', String(10000)),
    Column('latitude', DECIMAL),
    Column('longitude', DECIMAL),
    Column('feature_class', CHAR(1)),
    Column('feature_code', String(10)),
    Column('country_code', CHAR(2)),
    Column('cc2', String(200)),
    Column('admin1_code', String(20)),
    Column('admin2_code', String(80)),
    Column('admin3_code', String(20)),
    Column('admin4_code', String(20)),
    Column('population', BIGINT),
    Column('elevation', Integer),
    Column('dem', Integer),
    Column('timezone', String(40)),
    Column('modification_date', DATE)
)
# metadata.create_all(engine)

query = select(func.count()).select_from(cities)

# Выполняем запрос и выводим результат
count = pd.read_sql_query(query, con=engine).values[0,0]
print("Количество записей в таблице 'cities15000':", count)

Количество записей в таблице 'cities15000': 27127

## 1.2 Формирование рабочего датасета

**Minimal Viable Product**

Поисковая выдача ранжируется по 
1. cosine similarity с основным или любым из альтернативных названий; 
2. административному значению; 
3. населению  

Следовательно, нужные колонки:

**`XX.txt`** - (должны быть) объединены в таблицу **`geonames`**
- `geonameid`
- `name`
- `asciiname`
- `alternatenames`
- `population`
- `admin1_code`
- `admin2_code`
- `admin3_code`
- `admin4_code`
- `country_code`

**`countryInfo`**
- `ISO`
- `Country`
- `Capital` ??? если из `admin1_code` не удастся понять, столица ли данный город????

**Для доработки**

**`alternateNamesV2`** - транслитерация уже содержится в `geonames`
- `alternate name`
- `isPreferredName`
- `isShortName`
- `isColloquial`
- `isHistoric` 
Впоследствии можно будет доработать ранжирование для городов, у которых было много названий в прошлом, с сортировкой по времени, когда название было в ходу

In [4]:
# Для начала ещё раз посмотрим, какие таблицы у нас есть в базе

from sqlalchemy import inspect

inspector = inspect(engine)
schemas = inspector.get_schema_names()

for schema in schemas:
    #print("schema: %s" % schema)
    print(inspector.get_table_names(schema=schema))

['sql_features', 'sql_implementation_info', 'sql_parts', 'sql_sizing']
['alternateNames', 'geonames', 'countryInfo', 'countryInfo2', 'cities15000']

In [78]:
query = '''
SELECT geonameid, country_code, name, asciiname, alternatenames, population
FROM cities15000 
WHERE country_code IN ('AM', 'BY', 'GE', 'KG', 'KZ', 'RU', 'RS', 'TR')
'''

df = pd.read_sql_query(query, con=engine, index_col = 'geonameid')
df.head()

,country_code,name,asciiname,alternatenames,population
geonameid,,,,,
174875,AM,Kapan,Kapan,"Ghap'an,Ghapan,Ghap’an,Kafan,Kafin,Kapan,Kapan...",33160
174895,AM,Goris,Goris,"Geryusy,Goris,Горис,Գորիս",20379
174972,AM,Hats’avan,Hats'avan,"Acavan,Atsavan,Hats'avan,Hats’avan,Sisian,Ацав...",15208
174979,AM,Artashat,Artashat,"Artachat,Artasat,Artasatas,Artasato,Artaschat,...",20562
174991,AM,Ararat,Ararat,"Ararat,Araratas,Ararato,Davalinskiy Tsemzavod,...",28832

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1732 entries, 174875 to 11238838
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_code    1732 non-null   object
 1   name            1732 non-null   object
 2   asciiname       1732 non-null   object
 3   alternatenames  1713 non-null   object
 4   population      1732 non-null   int64
dtypes: int64(1), object(4)
memory usage: 81.2+ KB

# Testing the first approach - the brute force approach!!

What about calculating the query similarity to each and every word and selecting the vector with the highest overall match??? How slow is that??

In [9]:
%pip install thefuzz

Collecting thefuzz
  Downloading thefuzz-0.20.0-py3-none-any.whl.metadata (3.9 kB)
Collecting rapidfuzz<4.0.0,>=3.0.0 (from thefuzz)
  Downloading rapidfuzz-3.5.2-cp310-cp310-win_amd64.whl.metadata (11 kB)
Downloading thefuzz-0.20.0-py3-none-any.whl (15 kB)
Downloading rapidfuzz-3.5.2-cp310-cp310-win_amd64.whl (1.7 MB)
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
   ---- ----------------------------------- 0.2/1.7 MB 3.5 MB/s eta 0:00:01
   ------------ --------------------------- 0.5/1.7 MB 5.6 MB/s eta 0:00:01
   -------------------- ------------------- 0.9/1.7 MB 6.2 MB/s eta 0:00:01
   ------------------------------ --------- 1.3/1.7 MB 6.8 MB/s eta 0:00:01
   -------------------------------------- - 1.6/1.7 MB 6.9 MB/s eta 0:00:01
   ---------------------------------------- 1.7/1.7 MB 6.4 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, thefuzz
Successfully installed rapidfuzz-3.5.2 thefuzz-0.20.0
Note: you may need to restart the kernel to use updated packages.

## Поиск

In [3]:
from thefuzz import process
from transliterate import slugify
from transliterate import detect_language
import numpy as np

In [80]:
altnames = [l.split(',') if l else [None] for l in df.alternatenames.values] 
names=df.name.values
#altnames_tuples = np.array(altnames_tuples)#.pad(None)
for i in range(len(altnames)):
    #altnames_tuples[i] = np.pad(altnames_tuples[i], (0, len(altnames_tuples[i])), 'constant', constant_values=(None))
    altnames[i].append(names[i])
d = {ind: n for ind, n in zip(df.index, altnames)}

In [81]:
def search(query, k=10):
    "The rapid fuzzy search"
    if detect_language(query) is not None:
        query = slugify(query)
    scores = {} # container for match scores for each city
    
    for ind, name_list in d.items(): ## for each city calculate similarity scores with evry alternative name
        _ = np.array(process.extract(query, name_list)) 

        scores[ind] = _[:, 1].astype(int).sum() # sum up the scores...
        scores[ind] /= len(_) # ...and normalize by the number of the alternative names
    
    sorted_scores = dict(sorted(scores.items(), key=lambda item: item[1], reverse=True)) # sorting the name groups by the match score
    indexes = list(sorted_scores)[:k] # select the DatFrame indicies of the top k
    result = df.loc[indexes] # return the maches in the desired form
    result.insert(1, column='score', value=list(sorted_scores.values())[:k]) # insert the scores
    return result# df_.loc[indexes]

## Тесты

Неточное название

In [82]:
%%time
k=100 ## number of suggestions
# query = input()
query = 'Ржевск'

search(query, k)

CPU times: total: 156 ms
Wall time: 193 ms

,country_code,score,name,asciiname,alternatenames,population
geonameid,,,,,,
554840,RU,80.0,Izhevsk,Izhevsk,"IJK,Ijevsk,Ischewsk,Ishewsk,Izevsk,Izevska,Ize...",648213
499717,RU,77.6,Rzhev,Rzhev,"Raesevae,Rescovia,Rjev,Rjov,Rschew,Rshew,Rzev,...",62246
518659,RU,75.0,Novokuybyshevsk,Novokuybyshevsk,"Navakujbyshehusk,Novo-Kuybuyshev,Novo-Kuybyshe...",111800
500047,RU,72.2,Ryazhsk,Ryazhsk,"Razhsk,Riajsk,Riazhsk,Rjajsk,Rjaschsk,Rjazhsk,...",22041
740483,TR,70.6,Rize,Rize,"Bechirias,Corum,Provinsi Rize,QRI,RZV,Rhizus,R...",119828
...,...,...,...,...,...,...
1508054,RU,54.0,Chernogorsk,Chernogorsk,"Cernogorsk,Chernogorsk,Kharatas,Tschernogorsk,...",71582
1538635,RU,54.0,Zheleznogorsk,Zheleznogorsk,"Atomgrad,Devyatka,Krasnojarsk-26,Krasnoyarsk-2...",93834
538416,RU,53.6,Kushchyovskaya,Kushchyovskaya,"Kuschewskaja,Kuschtschewskaja,Kushchevskaya,Ku...",29915
1493648,RU,53.5,Rezh,Rezh,"Rezh,Rezj,Реж",37420
3190103,RS,53.4,Sremska Mitrovica,Sremska Mitrovica,"Dimitrofce,Dimitrofçe,Mitraja,Mitrovic,Mitrovi...",39084

Историческое название

In [83]:
%%time
k=100 ## number of suggestions
query = 'Сталинград'
#query = 'Атомград'

search(query, k)

CPU times: total: 203 ms
Wall time: 230 ms

,country_code,score,name,asciiname,alternatenames,population
geonameid,,,,,,
472757,RU,88.8,Volgograd,Volgograd,"Caricin,Caricyn,Estalingrado,Stalingrad,Stalin...",1013533
554234,RU,74.8,Kaliningrad,Kaliningrad,"Caliningrado,Calininopolis,KGD,Kalinin'nkrant,...",475056
518557,RU,72.2,Novomoskovsk,Novomoskovsk,"Bobriki,Novamaskousk,Novomoskovs'k,Novomoskovs...",130982
495957,RU,71.2,Shali,Shali,"Chali,Mezhdurech'e,Mezhdurech'ye,Mezhdurech’ye...",25000
485698,RU,70.0,Svetlograd,Svetlograd,"Petrovskoe,Petrovskoye,Petrowskoje,Svetlagrad,...",39727
...,...,...,...,...,...,...
3191429,RS,49.8,Ruma,Ruma,"Arpatarlo,Rouma,Ruma,lu ma,luma,ru ma,ruma,rwm...",32229
321836,TR,49.8,Batman,Batman,"BAL,Batman,Batman i Tyrkia,Batmanas,Elih,Iloh,...",452157
478044,RU,49.6,Ust’-Labinsk,Ust'-Labinsk,"Stanitsa Ust'-Labinskaya,Stanitsa Ust’-Labinsk...",44088
495518,RU,49.6,Shatura,Shatura,"Chatoura,Satura,Schatura,Shatura,Shatúra,Sjatu...",30069
515698,RU,49.2,Olenegorsk,Olenegorsk,"Alenjagorsk,Olenegors'k,Olenegorsk,Olenegorsk ...",23670

## More weight on closer matches

In [84]:
def search_parabolic(query, k=10):
    "The rapid fuzzy search - scoring with root mean square difference. RMSD puts higher weight onto closer matches"
    if detect_language(query) is not None:
        query = slugify(query)
    scores = {} # container for match scores for each city
    
    for ind, name_list in d.items(): ## for each city calculate similarity scores with evry alternative name
        _ = np.array(process.extract(query, name_list)) 
        # Calculate RMSD
        scores[ind] = np.square(_[:, 1].astype(int)).sum() # sum up the squares of the scores...
        scores[ind] = np.sqrt(scores[ind] / len(_))  # ...normalize by the length and take the root 
    
    sorted_scores = dict(sorted(scores.items(), key=lambda item: item[1], reverse=True)) # sorting the name groups by the match score
    indexes = list(sorted_scores)[:k] # select the DatFrame indicies of the top k
    result = df.loc[indexes] # return the maches in the desired form
    result.insert(1, column='score', value=list(sorted_scores.values())[:k]) # insert the scores
    return result# df_.loc[indexes]

In [85]:
def search_exp(query, k=10):
    "The rapid fuzzy search - scoring with exponent mean difference (like RMSD but with exp and log)"
    if detect_language(query) is not None:
        query = slugify(query)
    scores = {} # container for match scores for each city
    
    for ind, name_list in d.items(): ## for each city calculate similarity scores with evry alternative name
        _ = np.array(process.extract(query, name_list)) 
        # Calculate the exponent
        scores[ind] = np.exp(_[:, 1].astype(int)).sum() / len(_) # sum up the squares of the scores...
        scores[ind] = np.log(scores[ind])  #  ...take the reverse function 
    
    sorted_scores = dict(sorted(scores.items(), key=lambda item: item[1], reverse=True)) # sorting the name groups by the match score
    indexes = list(sorted_scores)[:k] # select the DatFrame indicies of the top k
    result = df.loc[indexes] # return the maches in the desired form
    result.insert(1, column='score', value=list(sorted_scores.values())[:k]) # insert the scores
    return result# df_.loc[indexes]

In [ ]:
def search_exp_lowmem(query, k=10):
    if detect_language(query) is not None:
        query = slugify(query)
    scores = {} # container for match scores for each city

    for ind, name_list in d.items(): ## for each city calculate similarity scores with evry alternative name
        _ = np.array(process.extract(query, name_list)) # so that the exponent is not too large!
        # Calculate the function
        scores[ind] = np.exp(_[:, 1].astype(int)).sum() / len(_)
        scores[ind] = np.log(scores[ind])  # sum up the exponents of the scores...

    # sorted by the matching score (.2 ms faster with the native Python function)
    scores_df = pd.DataFrame.from_records(
        sorted(scores.items(), key=lambda item: item[1], reverse=True), columns=['geonameid', 'score']) 

    indexes = tuple(scores_df.loc[:k, 'geonameid']) # select the DataFrame indicies of the top k

    query = f'''
        SELECT geonameid, country_code, name, asciiname, population, ci."Country"
        FROM cities15000  
        LEFT JOIN (SELECT "ISO", "Country" FROM "countryInfo") AS ci
        ON cities15000.country_code = ci."ISO"
        WHERE geonameid IN {indexes};
    '''
    qres = pd.read_sql_query(query, con=engine).drop_duplicates()

    return pd.merge(qres, scores_df, on='geonameid', how='right')

In [ ]:
"The rapid fuzzy search - scoring with root mean square difference. RMSD puts higher weight onto closer matches"
k=100
# query = "Атомград"
query = "Влад"

if detect_language(query) is not None:
    query = slugify(query)
scores = {} # container for match scores for each city

for ind, name_list in d.items(): ## for each city calculate similarity scores with evry alternative name
    _ = np.array(process.extract(query, name_list)) # so that the exponent is not too large!
    # Calculate the function
    scores[ind] = np.exp(_[:, 1].astype(int)).sum() / len(_)
    scores[ind] = np.log(scores[ind])  # sum up the exponents of the scores...

# sorted by the matching score (.2 ms faster with the native Python function)
scores_df = pd.DataFrame.from_records(
    sorted(scores.items(), key=lambda item: item[1], reverse=True), columns=['geonameid', 'score']) 

indexes = tuple(scores_df.loc[:k, 'geonameid']) # select the DataFrame indicies of the top k

query = f'''
    SELECT geonameid, country_code, name, asciiname, population, ci."Country"
    FROM cities15000  
    LEFT JOIN (SELECT "ISO", "Country" FROM "countryInfo") AS ci
    ON cities15000.country_code = ci."ISO"
    WHERE geonameid IN {indexes};
'''
qres = pd.read_sql_query(query, con=engine).drop_duplicates()

# result = df.loc[indexes] # return the maches in the desired form
# result.insert(1, column='score', value=list(sorted_scores.values())[:k]) # insert the scores
#qres
result = pd.merge(qres, scores_df, on='geonameid', how='right')

#result.loc[:, 'score'] = result.loc[:, 'score'].div(result.loc[:, 'score'].max())
result # df_.loc[indexes]

In [152]:
query = f'''
    SELECT country_code, name, asciiname, population, ci."Country"
    FROM cities15000  
    LEFT JOIN (SELECT "ISO", "Country" FROM "countryInfo") AS ci
    ON cities15000.country_code = ci."ISO"
    WHERE geonameid IN {indexes};
'''
pd.read_sql_query(query, con=engine).drop_duplicates()

    country_code          name     asciiname  population  Country
0             AM       Yerevan       Yerevan     1093485  Armenia
2             AM  Vagharshapat  Vagharshapat       46200  Armenia
4             AM      Vanadzor      Vanadzor      101098  Armenia
6             BY     Volkovysk     Volkovysk       47300  Belarus
8             BY   Maladziečna   Maladziecna      101300  Belarus
..           ...           ...           ...         ...      ...
192           TR       İskilip       Iskilip       19829   Turkey
194           TR        Edirne        Edirne      180002   Turkey
196           TR      Bulancak      Bulancak       43635   Turkey
198           TR          Bolu          Bolu      184682   Turkey
200           TR     Adapazarı     Adapazari      286787   Turkey

[101 rows x 5 columns]

In [138]:
%%timeit

pd.DataFrame.from_records(
    sorted(scores.items(), key=lambda item: item[1], reverse=True), columns=['geonameid', 'score'])

1.74 ms ± 124 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [150]:
%%timeit

pd.DataFrame.from_records(list(scores.items()), columns=['geonameid', 'score']).sort_values('score', ascending=False)

1.9 ms ± 222 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

it is a little bit faster to sort the scores before creating the DataFrame

In [56]:
%%time
k=10 ## number of suggestions
# query = input()
query = 'Atomgrad'

search_exp(query, k)

CPU times: total: 250 ms
Wall time: 421 ms

,geonameid,score,country_code,name,asciiname,alternatenames,population
1223,1538635,5.376234e+42,RU,Zheleznogorsk,Zheleznogorsk,"Atomgrad,Devyatka,Krasnojarsk-26,Krasnoyarsk-2...",93834
1342,737421,1.239114e+31,TR,Yomra,Yomra,"Dirona,Yomra",19770
1568,325363,3.717366e+30,TR,Adana,Adana,"ADA,Adana,Adane,Adano,Adanë,Adhanah,Antiocheia...",1779463
1287,2027968,3.717344e+30,RU,Aldan,Aldan,"ADH,Aldan,Aldanas,Ałdan,Nezametnyy,aldan,Алдан,알단",24426
1550,323777,3.717343e+30,TR,Antalya,Antalya,"AYT,Adalia,Antal'ja,Antalia,Antalija,Antaliya,...",1344000
1566,325330,3.717343e+30,TR,Adıyaman,Adiyaman,"ADF,Adiaman,Adijaman,Adijamanas,Adityman,Adiya...",267131
1227,1540356,3.717343e+30,RU,Raduzhny,Raduzhny,"RAT,Radoujny,Radujnij,Radujniy,Radujnıy,Radusc...",47679
188,1526038,3.717343e+30,KZ,Atbasar,Atbasar,"ATX,Atbasa,Atbasar,Atbasaras,Atbassar,Otbosar,...",34797
481,498817,1.392590e+30,RU,Saint Petersburg,Saint Petersburg,"Agia Petroupole,Betuyrbukh,Cankt-Peterburg,LED...",5351935
130,610529,1.367539e+30,KZ,Atyrau,Atyrau,"Aterau,Atirau,Atirav,Atiraw,Atorau,Aturau,Atyr...",290700

#### More memory-friendly approach: we don't want to store two datasets in python variables
Rather, it's better to query the data from the database

Query for the preliminary output
``SELECT country_code, name, asciiname, population, ci."Country"
FROM cities15000  
LEFT JOIN (SELECT "ISO", "Country" FROM "countryInfo") AS ci
ON cities15000.country_code = ci."ISO"
WHERE geonameid IN {tuple(indexes)};``

In [115]:
query = f'''
    SELECT country_code, name, asciiname, population, ci."Country"
    FROM cities15000  
    LEFT JOIN (SELECT "ISO", "Country" FROM "countryInfo") AS ci
    ON cities15000.country_code = ci."ISO"
    WHERE geonameid IN {tuple(indexes)};
'''
result = pd.read_sql_query(query, con=engine).drop_duplicates()
result

    country_code          name     asciiname  population  Country
0             AM       Yerevan       Yerevan     1093485  Armenia
2             AM  Vagharshapat  Vagharshapat       46200  Armenia
4             AM      Vanadzor      Vanadzor      101098  Armenia
6             BY     Volkovysk     Volkovysk       47300  Belarus
8             BY   Maladziečna   Maladziecna      101300  Belarus
..           ...           ...           ...         ...      ...
190           TR       İskilip       Iskilip       19829   Turkey
192           TR        Edirne        Edirne      180002   Turkey
194           TR      Bulancak      Bulancak       43635   Turkey
196           TR          Bolu          Bolu      184682   Turkey
198           TR     Adapazarı     Adapazari      286787   Turkey

[100 rows x 5 columns]

Exponential weighting work far better, and the square is just not enough. 
The result is awesome! We are returning the most likely matches, and surfacing out the precise ones, if any. 

Now let's try to downscale the really ancient names.

In [6]:
query = ''' SELECT geonameid, name, asciiname, population FROM cities1500 c
LEFT JOIN (SELECT geonameid, 'alternateNameId', 'alternate name', 'isHistoric', 'isColloquial', 'isShortName' FROM "alternateNames" an) 
ON geonameid
'''
df_ = pd.read_sql_query(query, con=engine)
df_.head()

OperationalError: (psycopg2.OperationalError) SSL SYSCALL error: EOF detected

[SQL:  SELECT geonameid, name, asciiname, population FROM cities1500 c
LEFT JOIN (SELECT geonameid, 'alternateNameId', 'alternate name', 'isHistoric', 'isColloquial', 'isShortName' FROM "alternateNames" an)
ON geonameid
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

# Тест производительности на тестовом датасете

In [174]:
test_df = pd.read_csv('../datasets/geo_test.csv', sep=';')
test_df.head()

      query      name           region     country
0  Смоленск  Smolensk  Smolensk Oblast      Russia
1  Кемерово  Kemerovo          Kuzbass      Russia
2    Бишкек   Bishkek          Bishkek  Kyrgyzstan
3    Москва    Moscow           Moscow      Russia
4    Алматы    Almaty           Almaty  Kazakhstan

In [176]:
queries = test_df['query'].values

In [182]:
%%time
def search_dummy(query, k=10):
    "Returns None"
    if detect_language(query) is not None:
        query = slugify(query)
    scores = {}
    for ind, name_list in d.items():
        _ = np.array(process.extract(query, name_list, limit=5))
        scores[ind] = _[:, 1].astype(int).sum()
        scores[ind] /= len(_) 
    sorted_scores = dict(sorted(scores.items(), key=lambda item: item[1], reverse=True))
    indexes = list(sorted_scores)[:k] # Works flawlessly
    result = df_.loc[indexes]
    result.insert(1, column='score', value=list(sorted_scores.values())[:k])
    return None # df_.loc[indexes]

for q in queries:  
    search_dummy(q, 10)

CPU times: total: 0 ns
Wall time: 0 ns

Processsing of 346 queries took 2 mins 18 s. That's our baseline. 

@TODO: measure accuracy!

# Second approach: the `Faiss` search
This algorithm should be much quicer and perform well in autocompletion.
This requires encoding the city names into character embeddings and n-grams.

In [1]:
%pip install faiss-cpu # not the recommended way to install faiss - but it works...

Note: you may need to restart the kernel to use updated packages.

In [ ]:
import faiss

## Preparing the data for encoding

In [ ]:
import re
import string

## Not yet used
def preprocess_name(name):

  if name is not None:
    # Переводим текст в нижний регистр
    name = name.lower()

    # Удаление знаков препинания
    name = re.sub('[%s]' % re.escape(string.punctuation + '«»–'), ' ', name)

    # Разделение на латиницу и кириллицу
    name = ' '.join(re.split(r'([a-zA-Z]+|[а-яА-Я]+)', name))

    # Удаление лишних пробелов
    name = ' '.join(name.split())

    return name

# Third approach: table question answering models

Might be an overkill, because we don't need to process the whole sentence - but let's try and compare the performance

In [12]:
%pip install huggingface_hub

Collecting huggingface_hub
  Downloading huggingface_hub-0.19.4-py3-none-any.whl.metadata (14 kB)
Collecting filelock (from huggingface_hub)
  Downloading filelock-3.13.1-py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: fsspec>=2023.5.0 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from huggingface_hub) (2023.9.2)
Requirement already satisfied: requests in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from huggingface_hub) (2.31.0)
Requirement already satisfied: tqdm>=4.42.1 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from huggingface_hub) (4.66.1)
Collecting pyyaml>=5.1 (from huggingface_hub)
  Downloading PyYAML-6.0.1-cp310-cp310-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from huggingface_hub) (4.8.0)
Requirement already satisfied: packaging>=20.9 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from huggingface_hub) (23.1)
Requirement already satisfied: colorama in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from tqdm>=4.42.1->huggingface_hub) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from requests->huggingface_hub) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from requests->huggingface_hub) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from requests->huggingface_hub) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from requests->huggingface_hub) (2023.7.22)
Downloading huggingface_hub-0.19.4-py3-none-any.whl (311 kB)
   ---------------------------------------- 0.0/311.7 kB ? eta -:--:--
   ----- --------------------------------- 41.0/311.7 kB 991.0 kB/s eta 0:00:01
   ---------------------------------------  307.2/311.7 kB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 311.7/311.7 kB 3.2 MB/s eta 0:00:00
Downloading PyYAML-6.0.1-cp310-cp310-win_amd64.whl (145 kB)
   ---------------------------------------- 0.0/145.3 kB ? eta -:--:--
   ---------------------------------------- 145.3/145.3 kB 4.4 MB/s eta 0:00:00
Downloading filelock-3.13.1-py3-none-any.whl (11 kB)
Installing collected packages: pyyaml, filelock, huggingface_hub
Successfully installed filelock-3.13.1 huggingface_hub-0.19.4 pyyaml-6.0.1
Note: you may need to restart the kernel to use updated packages.

In [15]:
%pip install ipywidgets

Collecting ipywidgets
  Downloading ipywidgets-8.1.1-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: comm>=0.1.3 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipywidgets) (0.1.4)
Requirement already satisfied: ipython>=6.1.0 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipywidgets) (8.15.0)
Requirement already satisfied: traitlets>=4.3.1 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipywidgets) (5.10.1)
Collecting widgetsnbextension~=4.0.9 (from ipywidgets)
  Downloading widgetsnbextension-4.0.9-py3-none-any.whl.metadata (1.6 kB)
Collecting jupyterlab-widgets~=3.0.9 (from ipywidgets)
  Downloading jupyterlab_widgets-3.0.9-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: backcall in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: decorator in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.19.0)
Requirement already satisfied: matplotlib-inline in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.1.6)
Requirement already satisfied: pickleshare in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipython>=6.1.0->ipywidgets) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipython>=6.1.0->ipywidgets) (2.16.1)
Requirement already satisfied: stack-data in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.6.2)
Requirement already satisfied: exceptiongroup in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipython>=6.1.0->ipywidgets) (1.1.3)
Requirement already satisfied: colorama in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: wcwidth in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.0)
Requirement already satisfied: pure-eval in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: six>=1.12.0 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)
Downloading ipywidgets-8.1.1-py3-none-any.whl (139 kB)
   ---------------------------------------- 0.0/139.4 kB ? eta -:--:--
   -------- ------------------------------- 30.7/139.4 kB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 133.1/139.4 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 139.4/139.4 kB 1.7 MB/s eta 0:00:00
Downloading jupyterlab_widgets-3.0.9-py3-none-any.whl (214 kB)
   ---------------------------------------- 0.0/214.9 kB ? eta -:--:--
   ---------------------------------------- 214.9/214.9 kB 6.6 MB/s eta 0:00:00
Downloading widgetsnbextension-4.0.9-py3-none-any.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ------- -------------------------------- 0.4/2.3 MB 8.7 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.3 MB 7.9 MB/s eta 0:00:01
   ------------------ --------------------- 1.1/2.3 MB 7.6 MB/s eta 0:00:01
   ------------------------ --------------- 1.4/2.3 MB 7.5 MB/s eta 0:00:01
   ------------------------------ --------- 1.7/2.3 MB 7.4 MB/s eta 0:00:01
   ------------------------------------ --- 2.1/2.3 MB 7.3 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 7.0 MB/s eta 0:00:00
Installing collected packages: widgetsnbextension, jupyterlab-widgets, ipywidgets
Successfully installed ipywidgets-8.1.1 jupyterlab-widgets-3.0.9 widgetsnbextension-4.0.9
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install torch transformers

In [1]:
from huggingface_hub import notebook_login

notebook_login()

VBox(children=(HTML(value='<center> <img\nsrc=https://huggingface.co/front/assets/huggingface_logo-noborder.sv…

Loading the model