# 1. Подключение к БД

## 1.1 Настройка базы данных на стороне разработчиков (не передатся заказчику)

## 1.2 Составление рабочего датасета

**Minimal Viable Product**

Поисковая выдача ранжируется по 
1. cosine similarity с основным или любым из альтернативных названий; 
2. административному значению; 
3. населению  

Следовательно, нужные колонки:

**`XX.txt`** - (должны быть) объединены в таблицу **`geonames`**
- `geonameid`
- `name`
- `asciiname`
- `alternatenames`
- `population`
- `admin1_code`
- `admin2_code`
- `admin3_code`
- `admin4_code`
- `country_code`

**`countryInfo`**
- `ISO`
- `Country`
- `Capital` ??? если из `admin1_code` не удастся понять, столица ли данный город????

**Для доработки**

**`alternateNamesV2`** - транслитерация уже содержится в `geonames`
- `alternate name`
- `isPreferredName`
- `isShortName`
- `isColloquial`
- `isHistoric` 
Впоследствии можно будет доработать ранжирование для городов, у которых было много названий в прошлом, с сортировкой по времени, когда название было в ходу

# The main notebook

In [1]:
%pip install pandas sqlalchemy psycopg2 python-dotenv

Requirement already satisfied: pandas in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (2.1.1)
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/2d/ca/1ad0106300c9cbd14e2b88bffe9f52f03ce2abe48f3b88747e520180014e/SQLAlchemy-2.0.23-cp310-cp310-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.23-cp310-cp310-win_amd64.whl.metadata (9.8 kB)
Collecting psycopg2
  Obtaining dependency information for psycopg2 from https://files.pythonhosted.org/packages/bc/bc/6572dec6834e779668421e25f8812a872d978e241f85491a5e4dda606a98/psycopg2-2.9.9-cp310-cp310-win_amd64.whl.metadata
  Downloading psycopg2-2.9.9-cp310-cp310-win_amd64.whl.metadata (4.5 kB)
Requirement already satisfied: numpy>=1.22.4 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.2.0 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from sqlalchemy) (4.8.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Obtaining dependency information for greenlet!=0.4.17 from https://files.pythonhosted.org/packages/02/72/36fb2c35547fdf473629579fc35d9a2034592ea3f01710702d81ef596e16/greenlet-3.0.1-cp310-cp310-win_amd64.whl.metadata
  Downloading greenlet-3.0.1-cp310-cp310-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: six>=1.5 in d:\datascience\humanlearning\yandexproject\.conda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading SQLAlchemy-2.0.23-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 1.3 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.1 MB 3.5 MB/s eta 0:00:01
   ----------- ---------------------------- 0.6/2.1 MB 4.5 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.1 MB 5.2 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 5.3 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 5.5 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 5.5 MB/s eta 0:00:00
Downloading psycopg2-2.9.9-cp310-cp310-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB 8.3 MB/s eta 0:00:01
   --------------------- ------------------ 0.6/1.2 MB 7.6 MB/s eta 0:00:01
   --------------------------------- ------ 1.0/1.2 MB 6.8 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 6.1 MB/s eta 0:00:00
Downloading greenlet-3.0.1-cp310-cp310-win_amd64.whl (287 kB)
   ---------------------------------------- 0.0/287.9 kB ? eta -:--:--
   ---------------------------------------- 287.9/287.9 kB 6.0 MB/s eta 0:00:00
Installing collected packages: psycopg2, greenlet, sqlalchemy
Successfully installed greenlet-3.0.1 psycopg2-2.9.9 sqlalchemy-2.0.23

In [2]:
%pip install python-dotenv

Collecting python-dotenv
  Using cached python_dotenv-1.0.0-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine, MetaData, Table, Column,select, Integer, String, DECIMAL, CHAR, BIGINT, func,DATE
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy.sql import text

from dotenv import load_dotenv
import os
load_dotenv()

True

In [7]:
USR = os.getenv('USR') # NEVER CALL a variable "USERNAME"
PWD = os.getenv('PWD')
DB_HOST = os.getenv('DB_HOST')
PORT = os.getenv('PORT')
DB = os.getenv('DB')

DATABASE = {
    'drivername': 'postgresql',
    'username': USR,
    'password': PWD,
    'host': '77.222.36.33',
    'port': PORT,
    'database': DB, 
    'query': {}
}

# Создаем объект engine
engine = create_engine(URL.create(**DATABASE))

# Попытка проверить соединение с базой данных
try:
    # Подключаемся к базе данных
    with engine.connect() as conn:
        # Выполняем простой запрос с помощью функции text для приведения строки к SQL-выражению
        result = conn.execute(text("SELECT 1"))
        for _ in result:
            pass  # Перебираем результаты, если они есть
    print(f"Успешно подключились к базе данных: {DATABASE['database']} на {DATABASE['host']}")
except SQLAlchemyError as e:
    print(f"Ошибка при подключении к базе данных: {e}")

Успешно подключились к базе данных: geo_v2 на 77.222.36.33

In [8]:
engine

Engine(postgresql://Natalia:***@77.222.36.33:19679/geo_v2)

### `countryInfo`

In [17]:
data = pd.read_csv('../datasets/countryInfo.txt', skiprows=49, sep='\t', index_col=None)
data=data.rename(columns={"#ISO": "ISO"})
data.head()

,ISO,ISO3,ISO-Numeric,fips,Country,Capital,Area(in sq km),Population,Continent,tld,CurrencyCode,CurrencyName,Phone,Postal Code Format,Postal Code Regex,Languages,geonameid,neighbours,EquivalentFipsCode
0,AD,AND,20,AN,Andorra,Andorra la Vella,468.0,77006,EU,.ad,EUR,Euro,376,AD###,^(?:AD)*(\d{3})$,ca,3041565,"ES,FR",NaN
1,AE,ARE,784,AE,United Arab Emirates,Abu Dhabi,82880.0,9630959,AS,.ae,AED,Dirham,971,NaN,NaN,"ar-AE,fa,en,hi,ur",290557,"SA,OM",NaN
2,AF,AFG,4,AF,Afghanistan,Kabul,647500.0,37172386,AS,.af,AFN,Afghani,93,NaN,NaN,"fa-AF,ps,uz-AF,tk",1149361,"TM,CN,IR,TJ,PK,UZ",NaN
3,AG,ATG,28,AC,Antigua and Barbuda,St. John's,443.0,96286,NaN,.ag,XCD,Dollar,+1-268,NaN,NaN,en-AG,3576396,NaN,NaN
4,AI,AIA,660,AV,Anguilla,The Valley,102.0,13254,NaN,.ai,XCD,Dollar,+1-264,NaN,NaN,en-AI,3573511,NaN,NaN

In [19]:
data.columns

Index(['ISO', 'ISO3', 'ISO-Numeric', 'fips', 'Country', 'Capital',
       'Area(in sq km)', 'Population', 'Continent', 'tld', 'CurrencyCode',
       'CurrencyName', 'Phone', 'Postal Code Format', 'Postal Code Regex',
       'Languages', 'geonameid', 'neighbours', 'EquivalentFipsCode'],
      dtype='object')

In [28]:
data['EquivalentFipsCode'].unique()

array([nan, 'FI'], dtype=object)

In [34]:
metadata = MetaData()
geonames = Table('countryInfo', metadata,
    Column('ISO', CHAR(2)),
    Column('ISO3', CHAR(3)),
    Column('ISO-Numeric', Integer),
    Column('fips', CHAR(2)),
    Column('Country', String(200)),
    Column('Capital', String(200)),    
    Column('Area(in sq km)', DECIMAL),
    Column('Population', BIGINT),
    Column('Continent', CHAR(2)),
    Column('tld', CHAR(3)),
    Column('CurrencyName', CHAR(3)),
    Column('Phone', String(30)),
    Column('Postal Code Format', String(30)),
    Column('Postal Code Regex', String(100)),
    Column('Languages', String(100)),
    Column('geonameid', Integer),
    Column('neighbours', String(200)),
    Column('EquivalentFipsCode', CHAR(2))
)

metadata.create_all(engine)

In [35]:
# Загрузка данных в базу данных
data.to_sql('countryInfo', con=engine, if_exists='replace', index=False)

252

### `alternateNamesV2`

In [5]:
data = pd.read_csv('../datasets/alternateNamesV2.txt', sep='\t', index_col=None, header=None)
data.head()

C:\Users\krair\AppData\Local\Temp\ipykernel_21704\1219458091.py:1: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../datasets/alternateNamesV2.txt', sep='\t', index_col=None, header=None)

         0        1    2                     3   4   5   6   7    8    9
0  1284819  2994701  NaN              Roc Mélé NaN NaN NaN NaN  NaN  NaN
1  1284820  2994701  NaN             Roc Meler NaN NaN NaN NaN  NaN  NaN
2  4285256  3007683  NaN  Pic des Langounelles NaN NaN NaN NaN  NaN  NaN
3  1291197  3017832  NaN  Pic de les Abelletes NaN NaN NaN NaN  NaN  NaN
4  4290387  3017832  NaN  Pic de la Font-Nègre NaN NaN NaN NaN  NaN  NaN

In [7]:
data.loc[data[1]==2017370]

,0,1,2,3,4,5,6,7,8,9
12105224,993186,2017370,en,Russian Soviet Federated Socialist Republic,NaN,NaN,NaN,1.0,NaN,NaN
12105225,993187,2017370,NaN,Rossiyskaya Sovetskaya Federativnaya Sotsialis...,NaN,NaN,NaN,1.0,NaN,NaN
12105226,993188,2017370,en,Russian Soviet Federative Socialist Republic,NaN,NaN,NaN,1.0,NaN,NaN
12105227,993191,2017370,en,Russian Socialist Federative Soviet Republic,NaN,NaN,NaN,1.0,NaN,NaN
12105228,1556474,2017370,aa,Russia,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12105386,16930770,2017370,wo,Risi,1.0,NaN,NaN,NaN,NaN,NaN
12105387,16930771,2017370,yi,רוסלאַנד,1.0,NaN,NaN,NaN,NaN,NaN
12105388,16930772,2017370,zh,俄罗斯,1.0,NaN,NaN,NaN,NaN,NaN
12105389,17433252,2017370,ru,России,NaN,NaN,NaN,NaN,NaN,NaN
12105390,17433284,2017370,ru,Россией,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Названия колонок в соответствии с документацией 
data.columns = ['alternateNameId', 'geonameid', 'isolanguage', 'alternate name', 'isPreferredName', 'isShortName', 'isColloquial', 'isHistoric', 'from', 'to']

In [17]:
metadata = MetaData()
geonames = Table('alternateNames', metadata,
    Column('alternateNameId', Integer),
    Column('geonameid', Integer),
    Column('isolanguage', CHAR(3)),
    Column('alternate name', String(400)),
    Column('isPreferredName', CHAR(1)),
    Column('isShortName', CHAR(1)),    
    Column('isColloquial', CHAR(1)),
    Column('isHistoric', CHAR(1)),
    Column('from', Integer),
    Column('to', Integer),
)

metadata.create_all(engine)
data.to_sql('alternateNames', con=engine, if_exists='replace', index=False)

### `geonames`

In [32]:
# Названия столбцов в соответствии с предоставленной структурой
column_names = [
    'geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude',
    'feature_class', 'feature_code', 'country_code', 'cc2', 'admin1_code',
    'admin2_code', 'admin3_code', 'admin4_code', 'population', 'elevation',
    'dem', 'timezone', 'modification_date'
]

In [25]:
geonames = Table('geonames', metadata,
    Column('geonameid', Integer),
    Column('name', String(200)),
    Column('asciiname', String(200)),
    Column('alternatenames', String(10000)),
    Column('latitude', DECIMAL),
    Column('longitude', DECIMAL),
    Column('feature_class', CHAR(1)),
    Column('feature_code', String(10)),
    Column('country_code', CHAR(2)),
    Column('cc2', String(200)),
    Column('admin1_code', String(20)),
    Column('admin2_code', String(80)),
    Column('admin3_code', String(20)),
    Column('admin4_code', String(20)),
    Column('population', BIGINT),
    Column('elevation', Integer),
    Column('dem', Integer),
    Column('timezone', String(40)),
    Column('modification_date', DATE)
)
metadata.create_all(engine)

In [33]:

# Чтение данных из TSV файла
data = pd.read_csv('RU/RU.txt', sep='\t', names=column_names, encoding='utf-8')

C:\Temp\ipykernel_285708\1077445257.py:2: DtypeWarning: Columns (9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('RU/RU.txt', sep='\t', names=column_names, encoding='utf-8')

In [34]:
data.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature_class,feature_code,country_code,cc2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modification_date
0,451747,Zyabrikovo,Zyabrikovo,NaN,56.84665,34.70480,P,PPL,RU,NaN,77,NaN,NaN,NaN,0,NaN,204,Europe/Moscow,2011-07-09
1,451748,Znamenka,Znamenka,NaN,56.74087,34.02323,P,PPL,RU,NaN,77,NaN,NaN,NaN,0,NaN,215,Europe/Moscow,2011-07-09
2,451749,Zhukovo,Zhukovo,NaN,57.26429,34.20956,P,PPL,RU,NaN,77,NaN,NaN,NaN,0,NaN,237,Europe/Moscow,2011-07-09
3,451750,Zhitovo,Zhitovo,NaN,57.29693,34.41848,P,PPL,RU,NaN,77,NaN,NaN,NaN,0,NaN,247,Europe/Moscow,2011-07-09
4,451751,Zhitnikovo,Zhitnikovo,NaN,57.20064,34.57831,P,PPL,RU,NaN,77,NaN,NaN,NaN,0,NaN,198,Europe/Moscow,2011-07-09

In [35]:
# Загрузка данных в базу данных
data.to_sql('geonames', con=engine, if_exists='append', index=False)

656

In [37]:
# Определяем таблицу для запроса
geonames = Table('geonames', metadata, autoload_with=engine)

# Формируем и выполняем SQL-запрос
query = select([geonames]).limit(10)  # Выбираем первые 10 строк
result = engine.execute(query)

In [ ]:
# Формируем SQL-запрос для подсчёта количества записей
query = select([func.count()]).select_from(geonames)

# Выполняем запрос и выводим результат
result = engine.execute(query)
count = result.scalar()
print("Количество записей в таблице 'geonames':", count)

In [ ]:
# Вывод результатов
for row in result:
    print(row)

# Закрыть соединение
result.close()